body {
  margin: 0;
  font-family: "proxima-nova";
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* http://www.colourlovers.com/palette/848743/(%E2%97%95_%E2%80%9D_%E2%97%95) */

.babyStatsContainer {
  background-color: white;
  perspective: 1000px;
}

.babyStatsFlip {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 64px;
  margin: 8px;
  cursor: pointer;
}

babyStatsFlipper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
}

babyStatsFlipperFront {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(0deg);
}

babyStatsFlipperBack {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: scroll;
}

.babyStatsChildName, .babyStatsYourName {
  display: block;
  height: 32px;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 4px;
  background-color: rgb(189,21,80);
  color: rgb(248,202,0);
  font-size: 28px;
  text-align: center;
}

.babyStatsChildName:focus, .babyStatsYourName:focus {
  outline: none;
}

.babyStatsLogin {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  width: 64px;
  margin: 8px;
  cursor: pointer;
}

babyStatsMeasurementPrompt {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.9);
  color: rgb(73,10,61);
  font-size: 3vmin;
  font-weight: bold;
  visibility: hidden;
  opacity: 0.0;
}

babyStatsWeight, babyStatsTemp {
  margin: 20px;
}

.babyStatsWeightKg, .babyStatsWeightLb, .babyStatsWeightOz,
.babyStatsTempC, .babyStatsTempF {
  border: 2px dotted rgb(233,127,2);
  font-size: 3vmin;
  height: 4vmin;
  width: 8vmin;
  margin: 5px;
  color: rgb(189,21,80);
  text-align: center;
}

.babyStatsWeightKg:focus, .babyStatsWeightLb:focus, .babyStatsWeightOz:focus,
.babyStatsTempC:focus, .babyStatsTempF:focus {
  outline: 2px solid rgb(233,127,2);
}

babyStatsGridOverlay {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  color: rgb(189,21,80);
  text-shadow: 0 0 2px rgb(248,202,0);
  font-size: 6vmin;
  font-weight: bold;
}

babyStatsActionButton {
  display: flex;
  min-width: 35vmin;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgb(138,155,15);
  color: rgb(248,202,0);
  font-size: 3vmin;
  font-weight: normal;
  text-shadow: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

babyStatsGridContainer {
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
}

babyStatsRow {
  display: block;
  text-align: center;
}

babyStatsCell {
  display: inline-block;
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

babyStatsCellStatus {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 15vmin;
  height: 5vmin;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(189,21,80);
  color: rgb(248,202,0);
  font-size: 3vmin;
  opacity: 0.8;
}

.babyStatsCellStatusActive {
  background-color: rgb(138,155,15);
}

babyStatsCellContents {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  font-size: 5vmin;
  font-weight: bold;
  white-space: pre-line;
  background-color: rgb(73,10,61);
  color: rgb(233,127,2);
  border-radius: 15px;
  overflow: hidden;
}

babyStatsCellOverlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  font-size: 20vmin;
  font-weight: bold;
  background-color: rgb(255,255,255);
  color: rgb(189,21,80);
  border-radius: 15px;
  opacity: 0.0;
}

babyStatsDisplayChildName {
  display: block;
  font-size: 5vw;
  font-weight: bold;
  color: rgb(138,155,15);
}

babyStatsDisplaySleepSummary {
  display: block;
  font-size: 2vw;
  color: rgb(73,10,61);
  visibility: hidden;
}

babyStatsDisplaySleepStatus, babyStatsDisplaySleepDuration {
  font-weight: bold;
}

babyStatsDisplayEventCounts {
  margin: 20px;
  display: table;
  font-size: 20px;
}

babyStatsDisplayEventCountHeader {
  display: table-row;
}

babyStatsDisplayEventCountSpacer {
  display: table-cell;
}

babyStatsDisplayEventCountHeaderTitle {
  display: table-cell;
  padding: 4px;
  text-align: center;
  color: rgb(138,155,15);
  font-weight: bold;
  border-left: 1px solid rgb(233,127,2);
}

babyStatsDisplayEventCountGroup {
  display: table-row;
}

babyStatsDisplayEventCountTitle {
  display: table-cell;
  padding: 4px;
  text-align: right;
  vertical-align: middle;
  color: rgb(73,10,61);
  font-weight: bold;
  border-top: 1px solid rgb(233,127,2);
}

babyStatsDisplayEventCountValue {
  display: table-cell;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  color: rgb(189,21,80);
  border-top: 1px solid rgb(233,127,2);
  border-left: 1px solid rgb(233,127,2);
  white-space: pre-line;
}

babyStatsDisplayWeight {
  display: block;
  width: 90%;
  height: 50vw;
  flex-shrink: 0;
}

babyStatsDisplayTimelines {
  display: block;
  width: 100%;
}

babyStatsDisplayDate {
  display: block;
  margin: 15px;
  text-align: center;
}

babyStatsDisplayDateTitle {
  display: block;
  color: rgb(189,21,80);
  font-size: 20px;
  font-weight: bold;
}
